<html>
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="TEST Community" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, font-src 'self'"
    />
    <title>=== 응답 결과 ===</title>
  </head>
  <body>
    <div>aptId : <%= aptId %></div>
    <div>year : <%= year %></div>
    <div>month : <%= month %></div>
    <div>price : <%= values %></div>
  </body>
</html>
