<html>
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="TEST Community" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, font-src 'self'"
    />
    <title>메인 페이지</title>
  </head>
  <body>
    <div>
      <div>원하는 항목을 선택해주세요!</div>
      <div>
        <a href="add-historical-price">1. 과거 가격 등록하기</a>
      </div>
      <div>
        <a href="check-historical-price">2. 과거 가격 조회하기</a>
      </div>
      <div>
        <a href="add-future-price">3. 미래 가격 등록하기</a>
      </div>
      <div>
        <a href="check-future-price">4. 미래 가격 조회하기</a>
      </div>
    </div>
  </body>
</html>
